@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global tweaks */
:root {
  color-scheme: light dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  background-color: #0f172a; /* slate-900 */
  color: #e2e8f0; /* slate-200 */
}
