@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global tweaks */
:root {
  color-scheme: light dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

  @apply bg-white text-slate-900 dark:bg-slate-900 dark:text-slate-200;
}
